@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #1f2937;
  padding: 1rem 13rem;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.secondary,
a {
  color: #e5e7eb;
  font-size: 18px;
}
header h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
ul {
  display: flex;
  gap: 1.5rem;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.welcome {
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
button {
  padding: 7px 1rem;
  width: 120px;
  background-color: #3882f6;
  border-radius: 8px;
}
.welcome button {
  border: none;
}
.image {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 215px;
  width: 100%;
}
main {
  padding: 1rem 13rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0 6rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  color: #1f2937;
}
.square {
  border: 4px solid #3882f6;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}
/* QUOTE */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 7em 13em;
}

.quote p {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 24px;
  color: #1f2937;
}

.quote em {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

/* SIGN UP */
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 13em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  padding: 3em;
  width: 100%;
  border-radius: 10px;
}

.container button {
  border: 2px solid #fff;
}
strong {
  font-size: 24px;
  color: #fff;
}
/* FOOTER */
footer {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
